.hide-scrollbar-dad {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge */
}

.hide-scrollbar-dad::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.detail-archived-document {
  display: flex;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.detail-archived-document * {
  box-sizing: border-box;
}

.left-panel-dad {
  flex: 6;
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 60px;
  margin-top: 20px;
}

.left-panel-dad .custom-card-dad {
  height: 100%;
  overflow-y: auto;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 0;
  background: #e8edfa;
}

.left-panel-dad .content-wrapper-dad {
  min-height: 100%;
}

.left-panel-dad .pdf-viewer-container,
.left-panel-dad iframe,
.left-panel-dad canvas {
  width: 100%;
  height: auto;
  min-height: 70%;
}

.custom-card-no-padding-dad .ant-card-body {
  padding: 0 !important;
}

.right-panel-dad {
  flex: 4;
  padding: 20px;
  overflow-y: auto;
  height: 100vh;
}

.right-panel-dad .custom-card-dad {
  overflow-y: auto; /* Cuộn bên trong Card */
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background: #fff;
}
