.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.confirm-info-modal {
  .ant-modal-content {
    height: 90vh; // Tối đa chiều cao theo viewport
    display: flex;
    flex-direction: column;
  }

  .confirm-info-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex: 1;
    overflow: hidden;
  }

  .left-panel,
  .right-panel {
    height: 100%;
    overflow-y: auto;
  }

  .left-panel {
    flex: 6;
    border-right: 1px solid #f0f0f0;
    background-color: #fafafa;
  }

  .right-panel {
    flex: 4;

    .confirm-card {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .form-large-text {
        flex: 1;
        overflow-y: auto;
        padding-right: 8px; // tránh bị che mất bởi scrollbar
      }
    }
  }
}
