.custom-card .ant-card-head {
  border-bottom: 2px solid !important;
}

.custom-card .ant-card-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  padding: 15px 0px 15px 15px;
}
